pandas
numpy
matplotlib.pyplot
seaborn
scipy.stats
sklearn.preprocessing.MaxAbsScaler
sklearn.model_selection.train_test_split
sklearn.model_selection.cross_val_score
sklearn.model_selection.KFold
sklearn.metrics.mean_squared_error
sklearn.metrics.r2_score
sklearn.metrics.root_mean_squared_error
sklearn.ensemble.GradientBoostingRegressor
statsmodels.stats.outliers_influence.variance_inflation_factor
xgboost
lightgbm.LGBMRegressor
catboost.CatBoostRegressor
optuna